<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BeatCounter.Properties.Settings>
            <setting name="SaveAllDayKey1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kando" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Controller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C_S_Up" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="C_S_Down" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="C_Key1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="C_Key2" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="C_Key3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="C_Key4" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="C_Key5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C_Key6" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="C_Key7" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="K_S_Up" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_S_Down" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_Key1" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_Key2" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_Key3" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_Key4" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_Key5" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_Key6" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="K_Key7" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="SaveAllDayKey2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveAllDayKey3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveCounter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlaySide" serializeAs="String">
                <value>1</value>
            </setting>
        </BeatCounter.Properties.Settings>
    </userSettings>
</configuration>